body{
    background-image: url("https://external-preview.redd.it/NXrR_qnMRHrwUoE8pbeiX26fq4mNctFsmdEghRVApSQ.jpg?auto=webp&s=b18e1b0df84f417036d4e1ac0affb6245a071ebf");
    background-size: cover;
    background-position-x: 200px;
    margin: 0;
    width: auto;
   
 
}


/* Estilos do pokemon da internet  */

p.pesquisa{
    align-items: center;
}
h2.dadosPokemon{
    text-align: center;
}

h2.list{
    text-align: center;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

p.info{
    padding: 0;
    margin: 0;
    text-decoration: underline;
    font-weight: bolder;
}

ul.list{

    text-align: center;
    border: 2px solid rgb(179, 180, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    border-radius: 10px;
    margin: 12px;
    background-color: azure;

}

ul.info{
    padding: 8px;
    text-align: center;
    border: 2px solid rgb(179, 180, 255);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 10px;
    margin: 12px;
    background-color: azure;

}

ul.infocabecalho{
    padding: 20px;
    text-align: center;
    border: 2px solid rgb(179, 180, 255);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 10px;
    margin: 12px;
    background-color: rgb(179, 180, 255);
    

}

img.imgweb{
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
}

.card {
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    max-width: 450px;
    width: 90vw;
    height: auto;
    transition: all 0.3s ease-out;
    border: 2px solid #fff;
    text-align: center;
    
   
    

}

.cardpesquisa {
    border-radius: 20px;
    padding: 4px;
    margin: 10px;
    max-width: 450px;
    width: 90vw;
    height: auto;
    transition: all 0.3s ease-out;
    border: 2px solid #fff;
    text-align: center;
    float: left;
    
   
    

}

select.movimentos{
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin: 8px; 

}

select.movimentos:hover{

 
    color: rgb(9, 9, 9);
    transform: translateY(-7px);

}

select.habilidades{

    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 250;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center; 
}

select.habilidades:hover{

    color: rgb(9, 9, 9);
    transform: translateY(-7px);

}



button.pesquisar{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center; 

}   
 
button.pesquisar:hover {
    background-color: rgb(179, 180, 255);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);

}

button.pesquisar:active {
    transform: translateY(-1px);
}

button.info{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(179, 180, 255);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin: 2px;
}   
 
button.info:hover {
    background-color: rgb(179, 180, 255);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color:rgb(179, 180, 255);
    transform: translateY(-7px);

}

button.info:active {
    transform: translateY(-1px);
}

input.pesquisar{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    border-radius: 15px;
}
   


/*-----------------HEADER----------------------------*/
.Header{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 100%;
    height: 130px;
    margin-bottom: 8px;
    
 
}



/*------------------Pokemon save database ---------------------------*/

p.error{
    color: red;
    text-decoration: red;
    text-decoration: underline;
    font-size: 18px;
    font-weight: bolder;
}


.containerSave{
    display: flex;
    
}

button.sendbanco{
    padding: 8px;
    width: 180px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(179, 180, 255);
    border: none;
    border-radius: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin: 2px;

}
/*--------------------------------all pokemons------------------------- */

.cardAll{

    border-radius: 20px;
    padding: 8px;
    margin: 4px;
    width: 23vw;
    height: auto;
    min-width: 320px;
    transition: all 0.3s ease-out;
    border: 2px solid rgb(179, 180, 255);
    text-align: center;
    float: left; 
    margin-left: 4vw;
    margin-right: 4vw;
 
  

    



}

/*------------------------------------Dashboard------------------------*/


.dashboard{

    border-radius: 20px;
    padding: 8px;
    width: 23vw;
    height: auto;
    min-width: 320px;
    transition: all 0.3s ease-out;
    text-align: center;
    float: left; 
    margin-left: 4vw;
    margin-right: 4vw;
    
}

.center {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    
    
  }

.centerPesquisa{

    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin: 1px;
    width: 100%
    
}
.cabecalho{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    height: 35px;
    margin-bottom: 15px;
    margin-top: 25px;
    
}  

h1.cabecalho{
    color: white;
    margin: 20px;
    font-size: 18px;
    text-align: left;

}

